<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p>
    <a href="/user">Customer list</a>
</p>
<form th:action="@{/edit-user}" th:object="${user}" method="post">
    <input th:type="hidden" name="userId" th:field="*{userId}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{username}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <label>
                    <select th:field="*{categoryId}" name="category">
                        <option th:each="c:${categorys}"
                                th:value="${c.categoryId}"
                                th:text="${c.categoryName}"
                                th:selected="(${c.categoryId}==*{categoryId.categoryId})"></option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update user"></td>
        </tr>
    </table>
</form>
</body>
</html>