<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-user">Create new customer</a>
<h1>Customers</h1>
<form>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="users : ${users}">
            <tr>
                <td th:text="${users.userId}"></td>
                <td th:text="${users.username}"></td>
                <td th:text="${users.address}"></td>
                <td th:text="${users.phoneNumber}"></td>
                <td th:text="${users.categoryId.categoryName}"></td>
                <td><a th:href="@{/edit-user/__${users.userId}__ }">Edit</a></td>
                <td><a th:href="@{/delete-user/__${users.userId}__ }">Delete</a></td>
            </tr>
        </th:block>
    </table>

</form>
</body>
</html>